.header__button {
  display: inline-block;
  outline: none;
  background: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  padding: 9px 51px;
  text-transform: uppercase;
}

.header__button:hover {
  border-color: #94e107;
}

@media screen and (max-width: 1070px) {
	.header__button {
    padding: 9px 47px;
	}
}

@media screen and (max-width: 624px) {
  .header__button {
    order: 2;
    margin-left: 30%;
    margin-top: 11px;
  }
}

@media screen and (max-width: 575px) {
  .header__button {
    margin: 11px auto 0;
    
  }
}